td = link_to task.content, list_task_path(@list, task), remote: true
td = task.status
td = task.important
td = link_to 'Edit', edit_list_task_path(@list, task), remote: true
td = link_to 'Destroy', [@list, task], data: { confirm: 'Are you sure?' }, remote: true, method: :delete