@import "/*";
@import "bootstrap";
@import "datetimepicker";
@import "font-awesome";
@import "variables";

.notice {
  position: fixed;
  right: 25px; 
  bottom: 10px;
  padding: 10px;
 }

body{
  background: linear-gradient(to left, #d3cce3, #e9e4f0); 

  h1{
    color:$dark-blue;
  }
}
