@import "/*";
@import "bootstrap";
@import "datetimepicker";
@import "font-awesome";
@import "variables";

// TODO: Set correct settings to center content
.modal-body {
  left: 11%;
  width: 75%;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(to right, #efefbb, #d4d3dd);
  position: relative;

  h1 {
    color:$dark-blue;
  }
}

.text-line-through {
  text-decoration: line-through;
}

.check-edit{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;


}

.datetimepicker.form-control{
  background: white;
}
