.fa{
 
  &.fa-edit{
    font-size: x-large;
    color: $brown;

    &:hover{
      color: $light-orange;
    }
  }

  &.fa-trash{
    font-size: x-large;
    color: $brown;

    &:hover{
      color: $dark-orange;
    }
  }
}
