$light-blue: #00aab7;

.fa{
  &.fa-edit{
    font-size: x-large;
    color: $light-blue;
    
    &:hover{
      color: lightcoral;
      text-shadow: lightcoral 2px 2px 7px;
    }
  }

  &.fa-trash{
    font-size: x-large;
    color: $light-blue;
    
    &:hover{
      color: red;
      text-shadow: red 2px 2px 7px;
    }
  }
}
