.fa{
 
  &.fa-edit{
    font-size: x-large;
    color: $dark-blue;

    &:hover{
      color: $green;
    }
  }

  &.fa-trash{
    font-size: x-large;
    color: $dark-blue;

    &:hover{
      color: $red;
    }
  }

  &.fa-check{
    font-size: x-large;
  }

  &.fa-bell{
    font-size: x-large;
  }
}
