$dark-blue:  #003d60;
$light-blue: #00aab7;
$gray:       #b8ccc6;
$white:      #f1ece9;
$cream:      #f9e3be;

a:link {
  color: $dark-blue;
  font-size: 20px;
  
  &:hover{
    text-decoration: none;
    background-color: transparent;
    text-shadow: $dark-blue 2px 2px 7px;
    color: $dark-blue;
  }

}

.fa{
  &.fa-edit{
    font-size: x-large;
  }

  &.fa-trash{
    font-size: x-large;
  }
}



