.navbar.navbar-expand-lg.navbar-light{
  border-radius: 60px 60px;
  background: $dark-blue;

  .navbar-brand{
    color: #e9e4f0;
    font-size: 25px;
    &:hover{
      color: #d3cce3;
    }
  }

  .nav-link{
    color: #d3cce3;

    &:hover{
      color: #e9e4f0;
    }
  }
}