.navbar.navbar-expand-lg.navbar-light{
  background: $dark-blue;
  border-bottom-style: groove;
  border-bottom-color: $dark-blue;

  .navbar-brand{
    color: #e9e4f0;
    font-size: 25px;
    &:hover{
      color: #d3cce3;
    }
  }

  .nav-link{
    color: #d3cce3;

    &:hover{
      color: #e9e4f0;
    }
  }

 .dd{
    color: $light-blue;
  }
  
  .dropdown-menu.show{
    border: 1px solid $light-blue;
    background:  #f4f4f4;
  }

  .dropdown-toggle.nav-link{
    &:focus{
      color: $light-blue;
    }
  }

  .not-active{
    pointer-events: none;
    color: $light-blue;    
  }
  
}
