// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-container{
  display: flex;
  color: yellowgreen;
}

.list-tasks{
  flex-direction: column;
}

.task-show{
  flex-direction: row;
}

.task-new{
  flex-direction: row;
}

.task-edit{
  flex-direction: row;
}
