#tasks {
  height: 300px;
  overflow-y: scroll;
}

.task-deadline {
  display: inline;
  color: white;
  background: yellowgreen;
  border-radius: 2px;
}

.task-content {
  font-size: 20px;
  display: inline;
  padding: 13px;
  margin: 0 12px;
}